select {width: 10em; font-family: monospace; }
#jufra_jpn{
    border:1px solid #9999cc;
	margin:.5em 0;
    padding:.5em 0;
    font-family: sans-serif; 
}
#jufra_jbo{
    border:1px solid #9999cc;
	margin:.5em 0;
    padding:.5em 0;
    font-family: sans-serif; 
}
#jufra_pnk{
    border:0px;
	margin:.5em 0;
    padding:.5em 0;
    font-family: sans-serif; 
}

