#jufra_jpn{
    border:1px solid #9999cc;
	margin:.5em 0;
    padding:.5em 0;
    font-family: sans-serif; 
}
#jufra_jmn1{
    border:1px solid #9999cc;
	margin:.5em 0;
    padding:.5em 0;
    font-family: sans-serif; 
}
#jufra_jmn2{
    border:1px solid #9999cc;
	margin:.5em 0;
    padding:.5em 0;
    font-family: sans-serif; 
}
div.fanva {
  width: 900px;
  padding: 30px 30px 50px 30px;
  margin: 20px 0;
  position: relative;
  background: #fbfbfb;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  -o-border-radius: 3px;
  -ms-border-radius: 3px;
  -khtml-border-radius: 3px;
  border-radius: 3px;
  border: 1px solid #cbcbcb;
  -moz-box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.09), inset 0px 0px 2px 2px rgba(255, 255, 255, 0.5), inset 0 0 5px 5px rgba(255, 255, 255, 0.4);
  -webkit-box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.09), inset 0px 0px 2px 2px rgba(255, 255, 255, 0.5), inset 0 0 5px 5px rgba(255, 255, 255, 0.4);
  -o-box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.09), inset 0px 0px 2px 2px rgba(255, 255, 255, 0.5), inset 0 0 5px 5px rgba(255, 255, 255, 0.4);
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.09), inset 0px 0px 2px 2px rgba(255, 255, 255, 0.5), inset 0 0 5px 5px rgba(255, 255, 255, 0.4);
}

h2 {
  font-size: 18px;
  color: #393939;
}

a.button {
  border: 1px solid #dba500;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #fff3ba), color-stop(100%, #ffe081));
  background: -webkit-linear-gradient(#fff3ba, #ffe081);
  background: -moz-linear-gradient(#fff3ba, #ffe081);
  background: -o-linear-gradient(#fff3ba, #ffe081);
  background: -ms-linear-gradient(#fff3ba, #ffe081);
  background: linear-gradient(#fff3ba, #ffe081);
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  -o-border-radius: 2px;
  -ms-border-radius: 2px;
  -khtml-border-radius: 2px;
  border-radius: 2px;
  -moz-box-shadow: inset 0px 1px 0px rgba(255, 255, 255, 0.4), 0px 1px 1px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: inset 0px 1px 0px rgba(255, 255, 255, 0.4), 0px 1px 1px rgba(0, 0, 0, 0.1);
  -o-box-shadow: inset 0px 1px 0px rgba(255, 255, 255, 0.4), 0px 1px 1px rgba(0, 0, 0, 0.1);
  box-shadow: inset 0px 1px 0px rgba(255, 255, 255, 0.4), 0px 1px 1px rgba(0, 0, 0, 0.1);
  background-color: #FFE788;
  margin-left: 5px;
  padding: 10px 12px;
  line-height: 14px;
  color: #333;
  font-weight: bold;
  display: inline-block;
  text-align: center;
}

a.button:hover {
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #fff3ba), color-stop(100%, #fff3ba));
  background: -webkit-linear-gradient(#fff3ba, #fff3ba);
  background: -moz-linear-gradient(#fff3ba, #fff3ba);
  background: -o-linear-gradient(#fff3ba, #fff3ba);
  background: -ms-linear-gradient(#fff3ba, #fff3ba);
  background: linear-gradient(#fff3ba, #fff3ba);
  background-color: #ffeca0;
}

div.notci {
  font-size: 80%;
  margin: 0px 0px 5px 0px;
}

div.sruri {
  width: 700;
}

div.tercuha {
  float: left; width: 57%;
}

div.notci2 {
  float: left; width: 40%; font-size: 90%; line-height: 140%;
}

div.notci3 {
  margin-left: 30px;
}

select { visibility: visible; -webkit-appearance: none; }

